<html lang="pt">
<head>
    <% include ../partes/head %>
</head>
<body>
    <div class="all">

        <div class="topo row  ">
                <% include ../partes/topmenu.ejs %>
        </div>
          <div class="row">
              <div class=" col-xs-2 col-sm-2 col-md-2 col-lg-2 fixed">
                  <% include ../partes/sidemenu.ejs %>
              </div>
        <div class="container-fluid">
        
              <div class="content col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
                <H3>Painel</H3>
                  <% include ../partes/tryhard.ejs %>
                  <div class="row">

                      <div class="bloco2"> 
                            <p>Gráfico</p>
                      </div>
                      <div class="bloco2">
                            <p>Tarefas</p>
                      </div>
                  
                  </div>










              </div>
      </div>

        <div class="footer">
            <footer>
                <% include ../partes/footer %>
            </footer>
        </div> 
      </div>

    </div>
</body>

</html>
