<html lang="pt" ng-app="sistEscolar">
<head>
    <% include ../partes/head %>
</head>
<body>
    <div class="all">

        <div class="topo row  ">
                <% include ../partes/topmenu.ejs %>
        </div>
          <div class="row">
              <div class=" col-xs-2 col-sm-2 col-md-2 col-lg-2 fixed">
                  <% include ../partes/sidemenu.ejs %>
              </div>
        <div class="container-fluid">
        
              <div class="content  col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
                <H3>Painel</H3>
                  <% include ../partes/tryhard.ejs %>





                <!--TESTE-->

<!--                 <div ng-controller="Controller">



                    <div sv-root sv-part="prop.images">
                        <div ng-repeat="photo in prop.images" sv-element>
                            <img draggable="false" ng-src="{{photo.id}}" />
                            <div class="{{box}}" ></div>
                        </div>
                    </div>
                        <div class="" sv-root sv-part="blocs.conteudos">
	                        <div ng-repeat="item in blocs.conteudos" class="{{box}}" sv-element="opts" >
                                {{item}}
                        	</div>
                        </div>

                    </div> 
 -->
                <!--FIM TESTE-->
                











              </div>
      </div>

        <div class="footer">
            <footer>
                <% include ../partes/footer %>
            </footer>
        </div> 
      </div>

    </div>
</body>

</html>
