<html lang="pt">
<head>
  <% include ../partes/head %>
</head>
<body>
  <div class="all">

    <div class="topo row  ">
      <% include ../partes/topmenu.ejs %>
    </div>
    <div class="row">
      <div class=" col-xs-2 col-sm-2 col-md-2 col-lg-2 fixed">
        <% include ../partes/sidemenu.ejs %>
      </div>
      <div class="container-fluid">




      </div>

      <div class="footer">
        <footer>
          <% include ../partes/footer %>
        </footer>
      </div>
    </div>

  </div>
</body>

</html>
