 <nav class="navbar sid" role="navigation">
 <!-- BT de Pesquisar -->
      <div class="search">
                            <div class="input-group col-md-12">
                                <input type="text" class="  search-query form-control" placeholder="Pesquisar" />
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
    <ul class="nav sidebar-nav">


<!-- Menu -->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle t" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" > <i class="fa fa-fw fa-plus"></i> CRIAR </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Questões</a></li>
                  <li><a href="#">Prova</a></li>
                 
                </ul>
        </li>
 







        <li>
            <a href="/"> <i class="fa fa-fw fa-home"></i>&nbsp &nbsp INÍCIO</a>
        </li>
        <li>
            <a href="#"> <i class="fa fa-calendar"></i>&nbsp &nbsp &nbsp CALENDARIO</a>
        </li>
        <li>
            <a href="#"> <i class="fa fa-book"></i>&nbsp &nbsp &nbsp DIARIO</a>
        </li>

        <li>
            <a href="#"> <i class="fa fa-fw fa-folder"></i> &nbsp &nbsp ARQUIVOS</a>
        </li>



    </ul>
</nav>
