 <nav class="navbar sid" role="navigation">
 <!-- BT de Pesquisar -->
      <div class="search">
                            <div class="input-group col-md-12">
                                <input type="text" class="  search-query form-control" placeholder="Pesquisar" />
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>


    <ul class="nav sidebar-nav">
<ul class=" nav sidebar-nav">
                             <li class="dropdown">
            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                <i class="fa fa-fw fa-plus"></i> <span>  CRIAR </span></a>
                    <ul class="dropdown-menu " role="menu">
                          <li>      <a href="/cadastroQuest">Questões</a>          </li>
                          <li>      <a href="/cadastroProvas">  Prova </a>          </li>
                    </ul>
        </li>
                        </ul>



       <li>
            <a href="/index"> <i class="fa fa-fw fa-home"></i> <span> INÍCIO </span></a>
        </li>

        <li>
            <a href="#"> <i class="fa fa-calendar"></i> <span> CALENDARIO </span> </a>
        </li>
        <li>
            <a href="/diarioPresenca"> <i class="fa fa-book"></i> <span> DIARIO </span> </a>
        </li>

        <li>
            <a href="#"> <i class="fa fa-fw fa-folder"></i> <span>  ARQUIVOS </span> </a>
        </li>
    </ul>
</nav>
